{% extends "base.html" %}
{% block content %}

<h3 class="account-heading">Your account details</h3>
<br>
<p class="text"> Your username: <b>{{ current_user.username }}</p></b>
<p class="text"> Your email: <b>{{ current_user.email }}</p></b>
<p class="text"> Your role: <b>{{ current_user.role }}</p></b>

<!-- listings -->
<h5>Your listings</h5>
{% if posts_count %}
  <table class="table text-center">
    <thead>
      <tr>
        <th>ID</th>
        <th>Info</th>
        <th>Date posted</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {% for post in posts %}
      <tr>
        <td>{{post.id}}</td>
        <td> <a href="{{ url_for('post', post_id=post.id) }}"> {{post.year}} {{post.make}} {{post.model}}</a></td>
        <td>{{ post.date_posted.strftime('%d-%m-%Y') }}</td>
        <td><a href="{{ url_for('update_post', post_id=post.id) }}">Edit</a>/<a href="{{ url_for('delete_post', post_id=post.id) }}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="mb-2">You have no listings</p>
{% endif %}
<!-- orders -->
<h5>Your orders</h5>
{% if orders_count %}
<table class="table text-center">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Ordered item</th>
      <th>Date and time ordered</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
      <tr>
        <td>{{order.id}}</td>
        <td> <a href="{{ url_for('post', post_id=order.item.id) }}"> {{order.item.year}} {{order.item.make}} {{order.item.model}}</a></td>
        <td>{{ order.date_posted.strftime('%d-%m-%Y %H:%M:%S') }}</td>
        <td><a href="{{ url_for('order_details', order_id=order.id) }}">View</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="mb-2">You have no orders</p>
{% endif %}

{% endblock content %}