{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-xl-12">

  <h3 class="mb-2"> List a new vehicle</h3>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">New</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">Used</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">Salvaged</label>
  </div>

    <div class="input-group my-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Make</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option value="1">Choose a make</option>
        <option value="1">Alfa Romeo</option>
        <option value="2">Audi</option>
        <option value="3">BMW</option>
        <option value="3">Chevrolete</option>
        <option value="3">Citroen</option>
        <option value="3">Fiat</option>
        <option value="3">Ford</option>
        <option value="3">Honda</option>
        <option value="3">Hyundai</option>
        <option value="3">Kia</option>
        <option value="3">Mazda</option>
        <option value="3">Mercedes</option>
        <option value="3">Mitsubishi</option>
        <option value="3">Nissan</option>
        <option value="3">Opel</option>
        <option value="3">Peugeot</option>
        <option value="3">Renault</option>
        <option value="3">Seat</option>
        <option value="3">Skoda</option>
        <option value="3">Subaru</option>
        <option value="3">Suzuki</option>
        <option value="3">Toyota</option>
        <option value="3">Volkswagen</option>
        <option value="3">Volvo</option>
        <option value="3">...</option>
        <option value="3">and so on</option>
      </select>
    </div>

    <select class="form-control mb-2">
      <option>Choose a model</option>
    </select>
    

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text mr-n2" id="basic-addon1">Price</span>
      </div>
      <input type="text" class="form-control" placeholder="$$$" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Year of manufacture</span>
      </div>
      <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">ODO (km)</span>
      </div>
      <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Category</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option>Sedan</option>
        <option>Hatchback</option>
        <option>MUV/SUV</option>
        <option>Coupe</option>
        <option>Convertible</option>
        <option>Wagon</option>
        <option>Van</option>
        <option>Sport</option>
      </select>
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Fuel</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Gas</option>
        <option value="1">Diesel</option>
        <option value="1">Electric</option>
      </select>
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Transmission</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option value="1">Automatic</option>
        <option value="1">Manual</option>
      </select>
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Quantity</span>
      </div>
      <input type="text" class="form-control" placeholder="Number of items available for sell" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <form>
      <div class="form-group">
        <label for="exampleFormControlFile1">Upload a picture (in beta only one)</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form>

    <h5>Description</h5>
        <div class="form-group">
        <textarea class="form-control" rows="5" id="comment"></textarea>
      </div>

      <button type="button" class="btn btn-outline-dark btn-block btn-sm">Post vehicle</button>

      {% endblock content %}