{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-lg-4 align-center ml-4">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      <label class="form-check-label" for="inlineCheckbox1">New</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">Used</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="pt pl-5">
      <label class="form-check-label" for="inlineCheckbox3">Salvaged</label>
    </div>
  </div>
  <div class="col text-right">
    <a href="{{ url_for('add_item') }}" class="m-4"> +List a new vehicle</a>
  </div>
</div>

<!-- car makes -->
<div class="row pt-4 m-3">
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/alfa.png">
      <label class="form-check-label" for="inlineCheckbox3">Alfa Romeo</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/audi.png">
      <label class="form-check-label" for="inlineCheckbox3">Audi</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/BMW.png">
      <label class="form-check-label" for="inlineCheckbox3">BMW</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/chevrolet.png">
      <label class="form-check-label" for="inlineCheckbox3">Chevrolete</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/citroen.png">
      <label class="form-check-label" for="inlineCheckbox3">Citroen</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/fiat.png">
      <label class="form-check-label" for="inlineCheckbox3">Fiat</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/ford.png">
      <label class="form-check-label" for="inlineCheckbox3">Ford</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/honda.png">
      <label class="form-check-label" for="inlineCheckbox3">Honda</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/hyundai.png">
      <label class="form-check-label" for="inlineCheckbox3">Hyundai</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/kia.png">
      <label class="form-check-label" for="inlineCheckbox3">Kia</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/mazda.png">
      <label class="form-check-label" for="inlineCheckbox3">Mazda</label>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/mercedes.png">
      <label class="form-check-label" for="inlineCheckbox3">Mercedes</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/mitsubishi.png">
      <label class="form-check-label" for="inlineCheckbox3">Mitsubishi</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/nissan.png">
      <label class="form-check-label" for="inlineCheckbox3">Nissan</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/opel.png">
      <label class="form-check-label" for="inlineCheckbox3">Opel</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/peugeot.png">
      <label class="form-check-label" for="inlineCheckbox3">Peugeot</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/renault.png">
      <label class="form-check-label" for="inlineCheckbox3">Renault</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/seat.png">
      <label class="form-check-label" for="inlineCheckbox3">Seat</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/skoda.png">
      <label class="form-check-label" for="inlineCheckbox3">Skoda</label>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/subaru.png">
      <label class="form-check-label" for="inlineCheckbox3">Subaru</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/suzuki.png">
      <label class="form-check-label" for="inlineCheckbox3">Suzuki</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/toyota.png">
      <label class="form-check-label" for="inlineCheckbox3">Toyota</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/volkswagen.png">
      <label class="form-check-label" for="inlineCheckbox3">Volkswagen</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <img src="static/images/brands/volvo.png">
      <label class="form-check-label" for="inlineCheckbox3">Volvo</label>
  </div>
</div>

<!-- parameters (categories) -->
<div class="row mt-3 mb-2">
  <div class="col-sm-4">
    <input class="form-control mb-2" type="text" placeholder="Price from (AUD)">
    <input class="form-control mb-2" type="text" placeholder="Price to (AUD)">
  </div>
  <div class="col-sm-4">
    <input class="form-control mb-2" type="text" placeholder="Year from">
    <input class="form-control mb-2" type="text" placeholder="Odometer max (km)">
  </div>
  <div class="col-sm-4">
    <select class="form-control mb-2">
      <option>Fuel type</option>
      <option>Gas</option>
      <option>Diesel</option>
      <option>Electric</option>
    </select>
    <select class="form-control mb-2">
      <option>Body type</option>
      <option>Hatchback</option>
      <option>Sedan</option>
      <option>MUV/SUV</option>
      <option>Coupe</option>
      <option>Convertible</option>
      <option>Wagon</option>
      <option>Van</option>
      <option>Sport</option>
    </select>
  </div>
</div>

<!-- View button -->
<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <a href="{{url_for('item_list')}}"><button type="button" class="btn btn-outline-dark btn-block btn-lg mt-2">Show vehicles</button></a>
  </div>
</div>

<!-- start of carousel (slideshow) -->
<p class="text-left text-secondary mb-n2"><sub>Latest</sub></p>
<hr class="mb-4">

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
      <div class="row">

        <!-- individual item -->
        <div class="col-md-3 col-xs-5">
          <div class="card mb-2 h-100">
            <img class="card-img-top" src="static/images/default.png" alt="Card image cap">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">2017 Skoda Superb</h5>
              <p class="card-text">Price: <strong> $47 889</strong><br>Year: <strong>2017</strong><br>ODO: <strong>7500 km</strong><br>Transmission: <strong>Automatic</strong><p class="text-secondary mb-n2"><sub>1 available</sub></p></p>
              <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
            </div>
          </div>
        </div>
        <!-- end of individual item -->

      </div>
    </div>

    <!--Second slide-->
    <div class="carousel-item">
      <div class="row">

        <!-- individual item -->
        <div class="col-md-3 col-xs-5">
          <div class="card mb-2 h-100">
            <img class="card-img-top" src="static/images/cars/car_3/s-l800.jpg" alt="Card image cap">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">2011 Holden Commodore</h5>
              <p class="card-text">Price: <strong> $6990</strong><br>Year: <strong>2011</strong><br>ODO: <strong>212 000 km</strong><br>Transmission: <strong>Automatic</strong><p class="text-secondary mb-n2"><sub>1 available</sub></p></p>
              <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
            </div>
          </div>
        </div>
        <!-- end of individual item -->

      </div>
    </div>


  </div>
  <!-- end of slides-->

</div>
<!--end of carousel Wrapper-->
{% endblock %}