<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- javascript -->
    <script src="static/javascript/scripts.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="static/CSS/styles.css">

    <title>VehiclePolis.com</title>

  </head>
  <body>
    <div class="container p-3 my-3 border">

      <div class="row">
        <div class="col-md-4 col-lg-3 my-auto">

           <a href="home.html"><img src="static/images/logo.png" class = "img-responsive" width = "100%"></a>

        </div>

        <div class="col-md-6 col-lg-7 my-auto">
            <!-- <div class="centerBlock"> -->
              <input class="form-control mb-2 w-100" type="search" placeholder="Search your dream car" aria-label="Search">
            <!-- </div> -->
        </div>

        <div class="col-md-2 col-lg-2">

           <button type="button" class="btn btn-outline-dark btn-block btn-sm mb-1" data-toggle="collapse" data-target="#collapseExample_login" aria-expanded="false" aria-controls="collapseExample">Login</button>

            <div class="collapse" id="collapseExample_login">
              <div class="card card-body mb-2">
              	<form action="" id= "loginform">
	                <input type="email" class="form-control mb-2" id="exampleInputEmail1" placeholder="Email">
	                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	            </form>
	            <div class="m-1 text-center"
	            	<button type="submit" form="loginform" value="Submit">Submit</button>
	            </div>
              </div>
            </div>
          
          <button type="button" class="btn btn-outline-dark btn-block btn-sm">Register</button>



        </div>
      </div>

      <hr>
      <!-- types of cars -->

      <!-- slkdfjasl;kfjsdlkjfslsjfdlal;f -->
      <div class="row">
        <div class="col-lg-4 align-center ml-4">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">New</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Used</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="pt pl-5">
            <label class="form-check-label" for="inlineCheckbox3">Salvaged</label>
          </div>
        </div>
        <div class="col text-right">
          <a href="add_edit_item.html" class="m-4"> +List a new vehicle</a>
        </div>
      </div>

      <div class="row pt-4 m-3">
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/alfa.png">
            <label class="form-check-label" for="inlineCheckbox3">Alfa Romeo</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/audi.png">
            <label class="form-check-label" for="inlineCheckbox3">Audi</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/BMW.png">
            <label class="form-check-label" for="inlineCheckbox3">BMW</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/chevrolet.png">
            <label class="form-check-label" for="inlineCheckbox3">Chevrolete</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/citroen.png">
            <label class="form-check-label" for="inlineCheckbox3">Citroen</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/fiat.png">
            <label class="form-check-label" for="inlineCheckbox3">Fiat</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/ford.png">
            <label class="form-check-label" for="inlineCheckbox3">Ford</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/honda.png">
            <label class="form-check-label" for="inlineCheckbox3">Honda</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/hyundai.png">
            <label class="form-check-label" for="inlineCheckbox3">Hyundai</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/kia.png">
            <label class="form-check-label" for="inlineCheckbox3">Kia</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/mazda.png">
            <label class="form-check-label" for="inlineCheckbox3">Mazda</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/mercedes.png">
            <label class="form-check-label" for="inlineCheckbox3">Mercedes</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/mitsubishi.png">
            <label class="form-check-label" for="inlineCheckbox3">Mitsubishi</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/nissan.png">
            <label class="form-check-label" for="inlineCheckbox3">Nissan</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/opel.png">
            <label class="form-check-label" for="inlineCheckbox3">Opel</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/peugeot.png">
            <label class="form-check-label" for="inlineCheckbox3">Peugeot</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/renault.png">
            <label class="form-check-label" for="inlineCheckbox3">Renault</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/seat.png">
            <label class="form-check-label" for="inlineCheckbox3">Seat</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/skoda.png">
            <label class="form-check-label" for="inlineCheckbox3">Skoda</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/subaru.png">
            <label class="form-check-label" for="inlineCheckbox3">Subaru</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/suzuki.png">
            <label class="form-check-label" for="inlineCheckbox3">Suzuki</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/toyota.png">
            <label class="form-check-label" for="inlineCheckbox3">Toyota</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/volkswagen.png">
            <label class="form-check-label" for="inlineCheckbox3">Volkswagen</label>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <img src="static/images/brands/volvo.png">
            <label class="form-check-label" for="inlineCheckbox3">Volvo</label>
        </div>

      </div>

    
  <p>
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-default btn-outline-dark btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        More makes
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        
        <div class="row">

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Zannela</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">IAVA</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">IAVA</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">IKA</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Holden</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">KTM</label>
          </div>

           <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Zannela</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Elfin</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Puch</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Steyr</label>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Lamborghini</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Ferrari</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Zannela</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Autar</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Novague</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">IKA</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Holden</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">KTM</label>
          </div>

           <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Mclaren</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Landvich</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Quaros</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Novague-Martin</label>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Juck</label>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-left pl-5">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Malambal</label>
          </div>


        </div>



      </div>
    </div>

</div>
</div>

    <div class="row mt-3 mb-2">

      <div class="col-sm-4">
        <input class="form-control mb-2" type="text" placeholder="Price from (AUD)">
        <input class="form-control mb-2" type="text" placeholder="Price to (AUD)">
      </div>

      <div class="col-sm-4">
        <input class="form-control mb-2" type="text" placeholder="Year from">
        <input class="form-control mb-2" type="text" placeholder="Odometer max (km)">
      </div>

      <div class="col-sm-4">
        <select class="form-control mb-2">
          <option>Fuel type</option>
          <option>Gas</option>
          <option>Diesel</option>
          <option>Electric</option>
        </select>
        <select class="form-control mb-2">
          <option>Body type</option>
          <option>Hatchback</option>
          <option>Sedan</option>
          <option>MUV/SUV</option>
          <option>Coupe</option>
          <option>Convertible</option>
          <option>Wagon</option>
          <option>Van</option>
          <option>Sport</option>
        </select>
      </div>

    </div>

    <!-- View button -->
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <a href="list_of_items.html"><button type="button" class="btn btn-outline-dark btn-block btn-lg mt-2">Show 7280 vehicles</button></a>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <!-- View button -->

    <p class="text-left text-secondary mb-n2"><sub>Sponsored</sub></p>

    <hr class="mb-4">

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">

            <div class="col-md-3 col-xs-5">
              <div class="card mb-2 h-100">
                <img class="card-img-top" src="static/images/cars/car_0/s-l800.jpg" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">2017 Skoda Superb</h5>
                  <p class="card-text">Price: <strong> $47 889</strong><br>Year: <strong>2017</strong><br>ODO: <strong>7500 km</strong><br>Transmission: <strong>Automatic</strong><p class="text-secondary mb-n2"><sub>1 available</sub></p></p>
                  <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-xs-5">
              <div class="card mb-2 h-100">
                <img class="card-img-top" src="static/images/cars/car_1/s-l800.jpg" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">2014 Volkswagen Transporter</h5>
                  <p class="card-text">Price: <strong> $18 889</strong><br>Year: <strong>2013</strong><br>ODO: <strong>156 000 km</strong><br>Transmission: <strong>Manual</strong><p class="text-secondary mb-n2"><sub>1 available</sub></p></p>
                  <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-xs-5">
              <div class="card mb-2 h-100">
                <img class="card-img-top" src="static/images/cars/car_2/s-l800.jpg" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">2011 Holden Commodore</h5>
                  <p class="card-text">Price: <strong> $6990</strong><br>Year: <strong>2011</strong><br>ODO: <strong>212 000 km</strong><br>Transmission: <strong>Automatic</strong><p class="text-secondary mb-n2"><sub>1 available</sub></p></p>
                  <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-xs-5">
              <div class="card mb-2 h-100">
                <img class="card-img-top" src="static/images/cars/car_4/s-l800.jpg" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">2011 BMW X1</h5>
                  <p class="card-text">Price: <strong> $19 200</strong><br>Year: <strong>2011</strong><br>ODO: <strong>104 993 km</strong><br>Transmission: <strong>Automatic</strong><p class="text-secondary mb-n2"><sub>1 available</sub></p></p>
                  <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
                </div>
              </div>
            </div>


          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">

            <div class="col-md-3 col-xs-5">
              <div class="card mb-2 h-100">
                <img class="card-img-top" src="static/images/cars/car_3/s-l800.jpg" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">2011 Holden Commodore</h5>
                  <p class="card-text">Price: <strong> $6990</strong><br>Year: <strong>2011</strong><br>ODO: <strong>212 000 km</strong><br>Transmission: <strong>Automatic</strong><p class="text-secondary mb-n2"><sub>1 available</sub></p></p>
                  <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-xs-5">
              <div class="card mb-2 h-100">
                <img class="card-img-top" src="static/images/cars/car_5/s-l800.jpg" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">2017 Audi A4</h5>
                  <p class="card-text">Price: <strong> $47 999</strong><br>Year: <strong>2017</strong><br>ODO: <strong>84 208 km</strong><br>Transmission: <strong>Automatic</strong><p class="text-secondary mb-n2"><sub>1 available</sub></p></p>
                  <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-xs-5">
              <div class="card mb-2 h-100">
                <img class="card-img-top" src="static/images/cars/car_6/s-l800.jpg" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">2014 Jeep Wrangler</h5>
                  <p class="card-text">Price: <strong> $25 999</strong><br>Year: <strong>2014</strong><br>ODO: <strong>33 231 km</strong><br>Transmission: <strong>Automatic</strong><p class="text-secondary mb-n2"><sub>1 available</sub></p></p>
                  <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-xs-5">
              <div class="card mb-2 h-100">
                <img class="card-img-top" src="static/images/cars/car_7/s-l800.jpg" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">2018 Skoda Octavia</h5>
                  <p class="card-text">Price: <strong> $38 800</strong><br>Year: <strong>2018</strong><br>ODO: <strong>6842 km</strong><br>Transmission: <strong>Automatic</strong><p class="text-secondary mb-n2"><sub>1 available</sub></p></p>
                  <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!--/.Second slide-->

      </div>
      <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->

    <footer class="footer">

      <hr class="mb-3 mt-4">

      <p class="text-center">© 2020 VehiclePolis.com</p>

    </footer>

    </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>