{% extends "base.html" %}
{% block content %}

{% set condition = [] %}
{% for check in categorysearchform.condition %}
  {{condition.append(check) if condition.append(check) }}
{% endfor %}

{% set make = [] %}
{% for single_make in categorysearchform.make %}
  {{make.append(single_make) if make.append(single_make) }}
{% endfor %}

<form method="POST" action="">
  {{categorysearchform.hidden_tag()}}
  <fieldset class="form-group">

<div class="row">
  <div class="col-lg-4 align-center ml-4">
    <div class="form-check form-check-inline">
      {{ condition[0] }} <div class="ml-1">New</div>
    </div>
    <div class="form-check form-check-inline">
      {{ condition[1] }} <div class="ml-1">Used</div>
    </div>
    <div class="form-check form-check-inline">
      {{ condition[2] }} <div class="ml-1">Salvaged</div>
    </div>
  </div>
  <div class="col text-right">
    <a href="{{ url_for('add_item') }}" class="m-4"> +List a new vehicle</a>
  </div>
</div>

<!-- car makes -->
<div class="row pt-4 m-3">
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      {{ make[0] }}
      <img src="static/images/brands/alfa.png">
      <label class="form-check-label" for="inlineCheckbox3">Alfa Romeo</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
      {{ make[1] }}
      <img src="static/images/brands/audi.png">
      <label class="form-check-label" for="inlineCheckbox3">Audi</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
    {{ make[2] }}
      <img src="static/images/brands/bmw.png">
      <label class="form-check-label" for="inlineCheckbox3">BMW</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[3] }}
    <img src="static/images/brands/chevrolet.png">
      <label class="form-check-label" for="inlineCheckbox3">Chevrolete</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[4] }}
      <img src="static/images/brands/citroen.png">
      <label class="form-check-label" for="inlineCheckbox3">Citroen</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[5] }}
      <img src="static/images/brands/fiat.png">
      <label class="form-check-label" for="inlineCheckbox3">Fiat</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[6] }}
      <img src="static/images/brands/ford.png">
      <label class="form-check-label" for="inlineCheckbox3">Ford</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[7] }}
      <img src="static/images/brands/honda.png">
      <label class="form-check-label" for="inlineCheckbox3">Honda</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[8] }}
      <img src="static/images/brands/hyundai.png">
      <label class="form-check-label" for="inlineCheckbox3">Hyundai</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[9] }}
      <img src="static/images/brands/kia.png">
      <label class="form-check-label" for="inlineCheckbox3">Kia</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[10] }}
      <img src="static/images/brands/mazda.png">
      <label class="form-check-label" for="inlineCheckbox3">Mazda</label>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[11] }}
      <img src="static/images/brands/mercedes.png">
      <label class="form-check-label" for="inlineCheckbox3">Mercedes</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[12] }}
      <img src="static/images/brands/mitsubishi.png">
      <label class="form-check-label" for="inlineCheckbox3">Mitsubishi</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[13] }}
      <img src="static/images/brands/nissan.png">
      <label class="form-check-label" for="inlineCheckbox3">Nissan</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[14] }}
      <img src="static/images/brands/opel.png">
      <label class="form-check-label" for="inlineCheckbox3">Opel</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[15] }}
      <img src="static/images/brands/peugeot.png">
      <label class="form-check-label" for="inlineCheckbox3">Peugeot</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[16] }}
      <img src="static/images/brands/renault.png">
      <label class="form-check-label" for="inlineCheckbox3">Renault</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[17] }}
      <img src="static/images/brands/seat.png">
      <label class="form-check-label" for="inlineCheckbox3">Seat</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[18] }}
      <img src="static/images/brands/skoda.png">
      <label class="form-check-label" for="inlineCheckbox3">Skoda</label>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[19] }}
      <img src="static/images/brands/subaru.png">
      <label class="form-check-label" for="inlineCheckbox3">Subaru</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[20] }}
      <img src="static/images/brands/suzuki.png">
      <label class="form-check-label" for="inlineCheckbox3">Suzuki</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[21] }}
      <img src="static/images/brands/toyota.png">
      <label class="form-check-label" for="inlineCheckbox3">Toyota</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[22] }}
      <img src="static/images/brands/volkswagen.png">
      <label class="form-check-label" for="inlineCheckbox3">Volkswagen</label>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pl-5 mb-4">
  {{ make[23] }}
      <img src="static/images/brands/volvo.png">
      <label class="form-check-label" for="inlineCheckbox3">Volvo</label>
  </div>
</div>

<!-- parameters (categories) -->
    <div class="row mt-3 mb-2">
      <div class="col-sm-4">
        <!-- price from -->
        <div class="form-group">
          {% if categorysearchform.price_from.errors %}
              {{ categorysearchform.price_from(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in categorysearchform.price_from.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ categorysearchform.price_from(class="form-control", placeholder="Price from ($AUD)") }}
          {% endif %}
        </div>
        <!-- price to -->
        <div class="form-group">
          {% if categorysearchform.price_to.errors %}
              {{ categorysearchform.price_to(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in categorysearchform.price_to.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ categorysearchform.price_to(class="form-control", placeholder="Price to ($AUD)") }}
          {% endif %}
        </div>
        <!-- category -->
        <div class="form-group">
          {{ categorysearchform.category(class="form-control") }}
        </div>
      </div>

      <div class="col-sm-4">
        <!-- year from -->
        <div class="form-group">
          {% if categorysearchform.year_from.errors %}
              {{ categorysearchform.year_from(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in categorysearchform.year_from.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ categorysearchform.year_from(class="form-control", placeholder="Year from") }}
          {% endif %}
        </div>
        <!-- year to -->
        <div class="form-group">
          {% if categorysearchform.year_to.errors %}
              {{ categorysearchform.year_to(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in categorysearchform.year_to.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ categorysearchform.year_to(class="form-control", placeholder="Year to") }}
          {% endif %}
        </div>
        <!-- transmission -->
        <div class="form-group">
          {{ categorysearchform.transmission(class="form-control") }}
        </div>
      </div>

      <div class="col-sm-4">
        <!-- odo from -->
        <div class="form-group">
          {% if categorysearchform.odo_from.errors %}
              {{ categorysearchform.odo_from(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in categorysearchform.odo_from.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ categorysearchform.odo_from(class="form-control", placeholder="ODO min (km)") }}
          {% endif %}
        </div>
        <!-- odo to -->
        <div class="form-group">
          {% if categorysearchform.odo_to.errors %}
              {{ categorysearchform.odo_to(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in categorysearchform.odo_to.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ categorysearchform.odo_to(class="form-control", placeholder="ODO max (km)") }}
          {% endif %}
        </div>
        <!-- fuel -->
        <div class="form-group">
          {{ categorysearchform.fuel(class="form-control") }}
        </div>
      </div>

    </div>
  </fieldset>
  <!-- search button -->
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      {{ categorysearchform.submit2(class="btn btn-outline-dark btn-block btn-lg mt-2") }}
    </div>
  </div>
</form>

<!-- start of carousel (slideshow) -->
<p class="text-left text-secondary mb-n2"><sub>Latest</sub></p>
<hr class="mb-4">

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
      <div class="row">

        <!-- individual item -->
        {% for post in posts_first %}
        <div class="col-md-3 col-xs-5">
          <div class="card mb-2 h-100">
            <img class="card-img-top" src="{{ url_for('static', filename='images/' + post.image_file) }}" alt="Card image cap">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{post.year}} {{post.make}} {{post. model}}</h5>
              <p class="card-text">
                Price: <strong>${{post.price}}</strong><br>
                Year: <strong>{{post.year}}</strong><br>
                ODO: <strong>{{post.ODO}} km</strong><br>
                Transmission: <strong>{{post.transmission}}</strong>
                <p class="text-secondary mb-n2">
                  <sub>
                    {% if post.quantity == 0 %}
                      out of stock
                    {% else %}
                      {{post.quantity}} in stock
                    {% endif %}
                    
                    </sub>
                </p>
              </p>
              <a href="{{ url_for('post', post_id=post.id) }}" class="btn btn-outline-dark btn-block btn-sm">See details</a>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- end of individual item -->

      </div>
    </div>
    <!-- end of second slide -->

    {% if count > 4 %}
    <!--Second slide-->
    <div class="carousel-item">
      <div class="row">

        <!-- individual item -->
        {% for post in posts_second %}
        <div class="col-md-3 col-xs-5">
          <div class="card mb-2 h-100">
            <img class="card-img-top" src="{{ url_for('static', filename='images/' + post.image_file) }}" alt="Card image cap">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{post.year}} {{post.make}} {{post. model}}</h5>
              <p class="card-text">Price: <strong> ${{post.price}}</strong><br>Year: <strong>{{post.year}}</strong><br>ODO: <strong>{{post.ODO}} km</strong><br>Transmission: <strong>{{post.transmission}}</strong><p class="text-secondary mb-n2">
                <sub>
                  {% if post.quantity == 0 %}
                  out of stock
                {% else %}
                  {{post.quantity}} in stock
                {% endif %}
                
              </sub></p></p>
              <a href="{{ url_for('post', post_id=post.id) }}" class="btn btn-outline-dark btn-block btn-sm">See details</a>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- end of individual item -->

      </div>
    </div>
    <!-- end of second slide -->
    {% endif %}

  </div>
  <!-- end of slides-->

</div>
<!--end of carousel Wrapper-->
{% endblock %}