<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- javascript -->
    <script src="javascript/scripts.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="CSS/styles.css">

    <title>VehiclePolis.com</title>

  </head>
  <body>
    <!-- closable alert information for a teacher -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      
      <strong>Read me! [Item details page]</strong>
      <br>• The submit link in the login area, register button and search area is not working since it's not in the scope of assesment 2.
      <br>• The "load more reviews" button after clicking on it, loads more reviews - not working since a database is needed which is not scope is assesment 2.
      <br>• The "submit review" button after clicking on it, posts a review - not working since a database is needed which is not scope is assesment 2.

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- end of alert -->

    <div class="container p-3 my-3 border">

      <div class="row">
        <div class="col-md-4 col-lg-3 my-auto">

           <a href="home.html"><img src="images/logo.png" class = "img-responsive" width = "100%"></a>

        </div>

        <div class="col-md-6 col-lg-7 my-auto">
            <!-- <div class="centerBlock"> -->
              <input class="form-control mb-2 w-100" type="search" placeholder="Search your dream car" aria-label="Search">
            <!-- </div> -->
        </div>

        <div class="col-md-2 col-lg-2">

           <button type="button" class="btn btn-outline-dark btn-block btn-sm mb-1" data-toggle="collapse" data-target="#collapseExample_login" aria-expanded="false" aria-controls="collapseExample">Login</button>

            <div class="collapse" id="collapseExample_login">
              <div class="card card-body mb-2">
                <input type="email" class="form-control mb-2" id="exampleInputEmail1" placeholder="Email">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                <p class="text-center"> <a href="#">Submit</a></p>
              </div>
            </div>
          
          <button type="button" class="btn btn-outline-dark btn-block btn-sm">Register</button>

        </div>
      </div>

      <hr>
      <!-- types of cars -->

      <div class="row">
      <div class="px-4"> <h5>2017 Skoda Superb NP MY17 206TSI Sedan DSG Grey 6 Speed Sports Automatic Dual Clutch Liftback</h5></div>
     </div>
      <!-- content -->
      <div class="row mt-1">

        <!-- main content -->
        <div class="col-md-9 pl-4">

          <div id="carouselExampleIndicators" class="carousel slide shadow" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="images/cars/car_0/s-l800.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="images/cars/car_0/s-l800-2.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="images/cars/car_0/s-l800-3.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="images/cars/car_0/s-l800-4.jpg" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div class="row px-2 mt-1">
            <div class="col">
              <p class="mt-2">Make: <strong> Skoda</strong><br>Model: <strong>Superb</strong><br>Condition: <strong>Used</strong><br>Quantity: <strong>1</strong></p>
            </div>

            <div class="col">
              <p class="mt-2">Price: <strong> $47 889</strong><br>Year: <strong>2017</strong><br>ODO: <strong>7500 km</strong></p>
            </div>
            <div class="col">
              <p class="mt-2">Category: <strong> Sedan</strong><br>Fuel: <strong>Gas</strong></strong><br>Transmission: <strong>Automatic</strong></p>
            </div>
          </div>

          <div>
            <div class="ml-2">
              Description
            </div>

            <div class="d-flex p-2 bd-highlight border">
              This vehicle has an excellant combination of VW technology and Skoda drivability, if you are looking for an economical vehicle with outstanding features call today for your exclusive test drive. This superb sedan (Liftback) fitted with tech pack valued at $2600, comfort pack valued at $1500 , and a panoramic roof Valued at $1700. Huge savings from new. Great savings to be had here at this price why buy new with the remainder of new car warranty it makes total sence to purchase this car. Call one of our experienced friendly staff to help make your buying experience easy and hassle free. We can tailor make an individual finance package to suit your own special requirements%85Trade in your current vehicle with us as our experienced buyer/valuer always pays the best current market prices for any age or type of vehicle. Test drive now!!
            </div>
          </div>


          <!-- review section -->
          <div>
            <div class="ml-2 mt-5">
              Reviews of <strong>2017 Skoda Superb</strong>
            </div>

            <!-- border around all the reviews-->
            <div class="border">

              <!-- start of ndividual review -->
              <div class="d-flex p-2 bd-highlight">
                <div>
                ★★★☆☆<br>User: James_Bond<br>Date: June 2020
                </div>
              </div>

              <div class="mx-2">
                <p>I have had this car for 7 years now. Purchased new, used daily coming up to 185000 km. It always runs great with excellent fuel economy. Comfortable to drive, reliable and lots of great features. Will definitely buy another one when I am ready for a new car in a few more years!!</p>
                <hr>
              </div>
              <!-- end of single review -->

                            <!-- start of ndividual review -->
              <div class="d-flex p-2 bd-highlight">
                <div>
                ★★★★★<br>User: Holax_3<br>Date: May 2020
                </div>
              </div>

              <div class="mx-2">
                <p>Bought this car from new 2 years ago and up till now its been a good work horse as its an auto estate version there is plenty of room in the back ample leg and head room for all passengers good coice of engines mine is a 20 ltr turbo diesel and its got ample power good breakes rides nice gear change is smooth up till now i havent had to buy parts but looking at the basics brakes suspension ect there not very expensive mpg i average in the mid 40s on a longer run i have achived 55 mpg which i think for such a big car is very good only down side is the interior seats are ok but as its vw based its very bland same as bmw,s and audi realy mercedes make a better interior than all german cars but its functional and every thing is screwed together properley its not made of cheal plastic like french or japanese cars i used to own an old skoda with the engine in the back that was a bad car lol but todays versions are a class act and i wouldent hesitate to buy another</p>
                <hr>
              </div>

              <!-- start of ndividual review -->
              <div class="d-flex p-2 bd-highlight">
                <div>
                ★☆☆☆☆<br>User: Honda_lover<br>Date: January 2020
                </div>
              </div>

              <div class="mx-2">
                <p>It's a total shit car.</p>
                <hr>
              </div>

              <!-- start of ndividual review -->
              <div class="d-flex p-2 bd-highlight">
                <div>
                ★★★★☆<br>User: Angelina_Juune<br>Date: December 2019
                </div>
              </div>

              <div class="mx-2">
                <p>If you like Volkswagen Passats, then Skoda Superb is a smarter choice. The same parts, same chassis with a different badge, some cleaver design for much less money. This means you can kit out the Superb to a much higher level for the same money as a Passat.

                If I had one complaint it would be NVH (Noise Vibration Harshness). While its no worse than the Passat, it seems that WV has been skimping on noise-control in the cabins lately (meaning dampening of the sheet metal, foam, padding, thinner glass etc where it can soak up road noise on coarse chip Australian roads). More road noise and vibration than you would expect (even with DCC). I think this has to do with weight reduction initiatives to improve fuel economy.

                NVH is made worse by the rush by manufacturers to fit 18-19" tyres on these things. They really should stick with 16-17" for Australian roads. All this is relative of course, depending on what you have been driving and expectations. I recently hired a 2019 Holden Commodore with the same tyres 235/45R18 and it was significantly worse than the Superb for NVH on coarse chip roads. However, as a daily drive, I came from an older generation Passat, that was simply a league above the modern counterparts in terms of NVH.

                The TLDR here, is don't expect European luxury car levels of NVH here. On the other hand, ride comfort and chassis control on the Superb is definitely a significant step up. DCC is awesome.

                Anyhow, make no mistake, I am nit-picking here, it's a great car. Just when everything else is almost perfect you start looking at details more closely. Definitely worth putting on your short list for a test-drive one to see if it's for you. If you do, make sure to drive it on some coarse-chip roads at 110 km/hr.</p>
                <hr>
              </div>

              <!-- start of ndividual review -->
              <div class="d-flex p-2 bd-highlight">
                <div>
                ★☆☆☆☆<br>User: Patrik_big<br>Date: October 2019
                </div>
              </div>

              <div class="mx-2">
                <p>I’m very disappointed with the quality of my Skoda Superb. My car has been recalled and the mechatronic unit replaced, however my car failed again due to the mechatronic unit. It was a very scary experience, as my car’s mechatronic unit failed causing my car to suddenly stop while I was still on drive. My sister-in-law also had a similar experience with her car. Her Skoda Octavia also had problems with the car suddenly stopping due to the mechatronics. Her vehicle required the mechatronic unit to be replaced not once, but twice in the space of a year, once under recall, then again a year after. I am not sure what’s going on, I am not impressed with the quality of my vehicle and I feel very upset and disappointed with my experience.</p>
                <hr>
              </div>
              <div class="text-center m-4">
                <button type="button" class="btn btn-outline-dark btn-sm">Load more reviews</button>
              </div>


            </div>

          <div class="m-2 mt-4">
          Post a review of <strong>2017 Skoda Superb</strong>

          <div class="mb-2">
            <select class="form-control form-control-sm">
              <option>Vehicle rating</option>
              <option>★★★★★</option>
              <option>★★★★☆</option>
              <option>★★★☆☆</option>
              <option>★★☆☆☆</option>
              <option>★☆☆☆☆</option>
            </select>
          </div>
           <div class="form-group">
              <textarea class="form-control" rows="5" id="comment"></textarea>
           </div>
           <button type="button" class="btn btn-outline-dark btn-sm">Submit review</button>
          </div>


          </div>


        </div> <!-- end of main content -->

        <!-- right sidebar -->
        <div class="col-md-3">

          <div id="googleMap" style="width:100%;height:200px;"></div>
          <div><sub>Item location: 4101, South Brisbane, QLD</sub></p>

           <p class="mt-2">Seller: <strong> Abdul_xx</strong><br>Seller status: <strong>Dealer</strong></p>

           <a href="order_item.html"><button type="button" class="btn btn-outline-dark btn-block btn-sm">Order vehicle</button></a>

        </div>

      </div>
      <!-- end of content -->
    </div>

        <!-- footer -->
      <footer class="footer">
        
        <hr class="mb-3 mt-4">

        <p class="text-center">© 2020 VehiclePolis.com</p>

      </footer>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC93W0WjD_fV0Uq7-ppX0Xqnipc89ZksGI&callback=myMap"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>