{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="px-4"> <h5>{{ post.title }}</h5></div>
</div>

<!-- content -->
<div class="row mt-1">
  <!-- main block (left) -->
  <div class="col-md-9 pl-4">
    <!-- car details section -->
    <img class="d-block w-100" src="{{ url_for('static', filename='images/' + post.image_file) }}">
    <div class="row px-2 mt-1">
      <div class="col">
        <p class="mt-2">Make: <strong> {{ post.make }}</strong><br>Model: <strong>{{ post.model }}</strong><br>Condition: <strong>{{ post.condition }}</strong><br>Quantity: <strong>{{ post.quantity }}</strong></p>
      </div>
      <div class="col">
        <p class="mt-2">Price: <strong> ${{ post.price }}</strong><br>Year: <strong>{{ post.year }}</strong><br>ODO: <strong>{{ post.ODO }} km</strong></p>
      </div>
      <div class="col">
        <p class="mt-2">Category: <strong> {{ post.category }}</strong><br>Fuel: <strong>{{ post.fuel }}</strong></strong><br>Transmission: <strong>{{ post.transmission }}</strong></p>
      </div>
    </div>
    <div>
      <div class="ml-2">
        Description
      </div>
      <div class="d-flex p-1 bd-highlight border">
        {% if post.description %}
          {{ post.description }}
        {% else %}
         Seller didn't provide any description.
        {% endif %}
      </div>
    </div>
    <!-- end of cars details section -->
  </div>
  <!-- end of main block (left) -->
  <!-- right sidebar -->
  <div class="col-md-3 px-4">
    <p class="mt-2">
      {% if post.author == current_user %}
        <a href="{{ url_for('update_post', post_id=post.id) }}">Edit listing</a>
        <br>
        <a href="{{ url_for('delete_post', post_id=post.id) }}">Delete listing</a>
        <br>
      {% endif %}
      Date posted: <strong> {{ post.date_posted.strftime('%d-%m-%Y') }}</strong><br>Seller: <strong>{{ post.author.username }}</strong><br>Seller email: <strong>{{ post.author.email }}</strong></p>
    <a href="{{ url_for('order_item', post_id=post.id) }}"><button type="button" class="btn btn-outline-dark btn-block btn-sm">Order vehicle</button></a>
  </div>
<!-- end of right sidebar -->
</div>

<div class="row">
  <div class="col-md-9 pl-4">
    <!-- review section -->
    <div>
      <div class="ml-2 mt-5">
        Reviews of 2017 Skoda Superb
      </div>
      <!-- border around all the reviews-->
      <div class="border">
        <!-- start of ndividual review -->
        <div class="d-flex p-2 bd-highlight">
          <div>
            ★★★☆☆<br>User: James_Bond<br>Date: June 2020
          </div>
        </div>

        <div class="mx-2">
          <p>I have had this car for 7 years now. Purchased new, used daily coming up to 185000 km. It always runs great with excellent fuel economy. Comfortable to drive, reliable and lots of great features. Will definitely buy another one when I am ready for a new car in a few more years!!</p>
          <hr>
        </div>
        <!-- end of single review -->
      </div>

      <div class="m-2 mt-4">
        Post a review of <strong>2017 Skoda Superb</strong>
        <div class="mb-2">
          <select class="form-control form-control-sm">
            <option>Vehicle rating</option>
            <option>★★★★★</option>
            <option>★★★★☆</option>
            <option>★★★☆☆</option>
            <option>★★☆☆☆</option>
            <option>★☆☆☆☆</option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <button type="button" class="btn btn-outline-dark btn-sm">Submit review</button>
      </div>
    </div>
    <!-- end of review section -->
  </div>
  <div class="col-md-3">
  </div>
</div>
{% endblock content %}