{% extends "base.html" %}
{% block content %}

<div class="row">
    <!-- column with listed cars-->
    <div class="col-md-12">
      <a href="{{ url_for('add_item') }}" class="m-4"> +List a new vehicle</a>
      <p class="text-right mt-n3"><small>Ordered by date posted</small></p>

      <!-- start of individual listing -->
      {% for post in posts %}
      <div class="card border-0">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-xs-3">
              <img class="card-img-top shadow" src="{{ url_for('static', filename='images/' + post.image_file) }}" alt="Card image cap">
            </div>
            <div class="col-xl-5 col-lg-5 col-xs-5">
              <h5 class="card-title">{{ post.year }} {{ post.make }} {{ post.model }}</h5>
              Price: <strong>{{ post.price }}</strong> AUD<br>
              Year: <strong>{{ post.year }}</strong><br>
              ODO: <strong>{{ post.ODO }}</strong> km<br>
              User: <strong>{{ post.author.username }}</strong>
            </div>

            <div class="col-xl-3 col-lg-3 col-xs-3 my-auto">
              <a href="{{ url_for('post', post_id=post.id) }}" class="btn btn-outline-dark btn-block btn-sm">See details</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- end of individual listing -->
      
    </div>
    <!-- end of column with listed cars -->
</div>
        
{% endblock content %}
