{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="px-4"> <h5>{{ post.title }}</h5></div>
</div>

<!-- content -->
<div class="row mt-1">
  <!-- main block (left) -->
  <div class="col-md-9 pl-4">
    <!-- car details section -->
    <img class="d-block w-100" src="{{ url_for('static', filename='images/' + post.image_file) }}">
    <div class="row px-2 mt-1">
      <div class="col">
        <p class="mt-2">Make: <strong> {{ post.make }}</strong><br>Model: <strong>{{ post.model }}</strong><br>Condition: <strong>{{ post.condition }}</strong><br>Quantity: <strong>
          {% if post.quantity == 0 %}
            Out of stock
          {% else %}
          {{post.quantity}} 
        {% endif %}
      </strong></p>
      </div>
      <div class="col">
        <p class="mt-2">Price: <strong> ${{ post.price }}</strong><br>Year: <strong>{{ post.year }}</strong><br>ODO: <strong>{{ post.ODO }} km</strong></p>
      </div>
      <div class="col">
        <p class="mt-2">Category: <strong> {{ post.category }}</strong><br>Fuel: <strong>{{ post.fuel }}</strong></strong><br>Transmission: <strong>{{ post.transmission }}</strong></p>
      </div>
    </div>
    <div>
      <div class="ml-2">
        Description
      </div>
      <div class="d-flex p-1 bd-highlight border">
        {% if post.description %}
          {{ post.description }}
        {% else %}
         Seller didn't provide any description.
        {% endif %}
      </div>
    </div>
    <!-- end of cars details section -->
  </div>
  <!-- end of main block (left) -->
  <!-- right sidebar -->
  <div class="col-md-3 px-4">
    <p class="mt-2">
      {% if current_user.is_authenticated %}
        {% if post.author == current_user %}
          <a href="{{ url_for('update_post', post_id=post.id) }}">Edit listing</a>
          <br>
          <a href="{{ url_for('delete_post', post_id=post.id) }}">Delete listing</a>
          <br>
        {% endif %}
      {% endif %}
      Date posted: <strong> {{ post.date_posted.strftime('%d-%m-%Y') }}</strong><br>Seller: <strong>{{ post.author.username }}</strong><br>Seller email: <strong>{{ post.author.email }}</strong></p>
    {% if not own %}
      <a href="{{ url_for('order_item', post_id=post.id) }}"><button type="button" class="btn btn-outline-dark btn-block btn-sm">Order vehicle</button></a>
    {% endif %}
  </div>
<!-- end of right sidebar -->
</div>

<div class="row">
  <div class="col-md-9 pl-4">
    <!-- review section -->
    <div>
      <div class="ml-2 mt-4">
        Reviews of <strong>{{ post.year }} {{ post.make }} {{ post.model }}</strong>
      </div>
      {% if (current_user.is_authenticated and ordered and not written) %}
        <div class="m-2 mt-2">
          <small>Post your review</small>
          <form method="POST" action="">
            {{form.hidden_tag()}}
              <div class="form-group">

                {{ form.ranking }}
              </div>
          
          <div class="form-group">
            {{ form.content(class="form-control") }}
          </div>
          {{ form.submit }}
        </form>
        </div>
      {% endif %}
    
            <!-- border around all the reviews-->
            <div class="border">
              <!-- start of individual review -->
              {% if reviews %}
                {% for review in reviews %}
                <div class="d-flex p-2 bd-highlight">
                  <div>
                    {{review.ranking}}<br>User: {{review.author.username}}<br>Date: {{ review.date_posted.strftime('%d-%m-%Y') }}
                  </div>
                </div>
        
                <div class="mx-2">
                  <p>
                    {{review.content}}
                  </p>
                  <hr>
                </div>
                <!-- end of single review -->
                {% endfor %}
              {% else %}
                <div class='m-1'>
                  Nobody had reviewed this car yet.
                </div>
              {% endif %}
            </div>
            <!-- end of border around all the reviews -->
            
    </div>
    <!-- end of review section -->
  </div>
  <div class="col-md-3">
  </div>
</div>
{% endblock content %}