{% extends "base.html" %}
{% block content %}

<div class="row">

  <!-- sidebar -->
  <div class="col-md-3">
    <!-- checkboxes -->
    <div class="row mb-2 mx-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
          <label class="form-check-label" for="inlineCheckbox1">New</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" checked>
          <label class="form-check-label" for="inlineCheckbox2">Used</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="pt pl-5">
          <label class="form-check-label" for="inlineCheckbox3">Salvaged</label>
        </div>
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Make</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Any</option>
        <option value="1">Alfa Romeo</option>
        <option value="2">Audi</option>
        <option value="3">BMW</option>
        <option value="3">Chevrolete</option>
        <option value="3">Citroen</option>
        <option value="3">Fiat</option>
        <option value="3">Ford</option>
        <option value="3">Honda</option>
        <option value="3">Hyundai</option>
        <option value="3">Kia</option>
        <option value="3">Mazda</option>
        <option value="3">Mercedes</option>
        <option value="3">Mitsubishi</option>
        <option value="3">Nissan</option>
        <option value="3">Opel</option>
        <option value="3">Peugeot</option>
        <option value="3">Renault</option>
        <option value="3">Seat</option>
        <option value="3">Skoda</option>
        <option value="3">Subaru</option>
        <option value="3">Suzuki</option>
        <option value="3">Toyota</option>
        <option value="3">Volkswagen</option>
        <option value="3">Volvo</option>
        <option value="3">...</option>
        <option value="3">and so on</option>
      </select>
    </div>
    <hr>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text mr-n2" id="basic-addon1">Price from $</span>
      </div>
      <input type="text" class="form-control" placeholder="10 000" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-4">
      <div class="input-group-prepend">
        <span class="input-group-text mr-n2" id="basic-addon1">Price to $</span>
      </div>
      <input type="text" class="form-control" placeholder="50 000" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Year from</span>
      </div>
      <input type="text" class="form-control" placeholder="2001" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">ODO max (km)</span>
      </div>
      <input type="text" class="form-control" placeholder="250 000" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Category</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option>Any</option>
        <option>Sedan</option>
        <option>Hatchback</option>
        <option>MUV/SUV</option>
        <option>Coupe</option>
        <option>Convertible</option>
        <option>Wagon</option>
        <option>Van</option>
        <option>Sport</option>
      </select>
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Fuel</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Gas</option>
        <option value="1">Diesel</option>
        <option value="1">Electric</option>
        <option value="1">Any</option>
      </select>
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Transmission</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option value="1">Automatic</option>
        <option value="1">Manual</option>
        <option value="1">Any</option>
      </select>
    </div>
  </div>
  <!-- *** end of sidebar *** -->

    <!-- column with listed cars-->
    <div class="col-md-9">
      <a href="{{ url_for('add_item') }}" class="m-4"> +List a new vehicle</a>

      <!-- start of individual listing -->
      {% for post in posts %}
      <div class="card border-0">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-xs-3">
              <img class="card-img-top shadow" src="{{ url_for('static', filename='images/' + post.image_file) }}" alt="Card image cap">
            </div>
            <div class="col-xl-5 col-lg-5 col-xs-5">
              <h5 class="card-title">{{ post.year }} {{ post.make }} {{ post.model }}</h5>
              Price: <strong>{{ post.price }}</strong> AUD<br>
              Year: <strong>{{ post.year }}</strong><br>
              ODO: <strong>{{ post.ODO }}</strong> km<br>
              User: <strong>{{ post.author.username }}</strong>
            </div>

            <div class="col-xl-3 col-lg-3 col-xs-3 my-auto">
              <a href="{{ url_for('post', post_id=post.id) }}" class="btn btn-outline-dark btn-block btn-sm">See details</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- end of individual listing -->
      
    </div>
    <!-- end of column with listed cars -->
</div>
        
{% endblock content %}
