<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- javascript -->
    <script src="javascript/scripts.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="CSS/styles.css">

    <title>VehiclePolis.com</title>

  </head>
  <body>
    <!-- closable alert information for a teacher -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      
      <strong>Read me! This webpage is not in the scope of assesment 2. I only found out after I read the assesment description.</strong>
      <br>• The submit link in the login area, register button and search area is not working since it's not in the scope of assesment 2.
      <br>• The form on the right side (on large screens) dynamicly changes the shown content acording the put constrains. It's not working since it's not the scope of assesment 2.
      <br>• All the "see more" buttons are all linked to a single static page (item_details.html) with a static content of one particular car. Further the content will be dynamically created for each car - database needed.
      <br>• "Load more vehicles" button loads more vehicles meeting the constrains from the form on the left. 

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- end of alert -->

    <div class="container p-3 my-3 border">

      <div class="row">
        <div class="col-md-4 col-lg-3 my-auto">

           <a href="home.html"><img src="images/logo.png" class = "img-responsive" width = "100%"></a>

        </div>

        <div class="col-md-6 col-lg-7 my-auto">
            <!-- <div class="centerBlock"> -->
              <input class="form-control mb-2 w-100" type="search" placeholder="Search your dream car" aria-label="Search">
            <!-- </div> -->
        </div>

        <div class="col-md-2 col-lg-2">

           <button type="button" class="btn btn-outline-dark btn-block btn-sm mb-1" data-toggle="collapse" data-target="#collapseExample_login" aria-expanded="false" aria-controls="collapseExample">Login</button>

            <div class="collapse" id="collapseExample_login">
              <div class="card card-body mb-2">
                <input type="email" class="form-control mb-2" id="exampleInputEmail1" placeholder="Email">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                <p class="text-center"> <a href="#">Submit</a></p>
              </div>
            </div>
          
          <button type="button" class="btn btn-outline-dark btn-block btn-sm">Register</button>



        </div>
      </div>

      <hr>

    <!-- helllooooo -->
    <div class="row">

      <!-- sidebar -->
      <div class="col-md-3">

      <!-- checkboxes -->
      <div class="row mb-2 mx-2">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
            <label class="form-check-label" for="inlineCheckbox1">New</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" checked>
            <label class="form-check-label" for="inlineCheckbox2">Used</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="pt pl-5">
            <label class="form-check-label" for="inlineCheckbox3">Salvaged</label>
          </div>
      </div>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Make</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Any</option>
              <option value="1">Alfa Romeo</option>
              <option value="2">Audi</option>
              <option value="3">BMW</option>
              <option value="3">Chevrolete</option>
              <option value="3">Citroen</option>
              <option value="3">Fiat</option>
              <option value="3">Ford</option>
              <option value="3">Honda</option>
              <option value="3">Hyundai</option>
              <option value="3">Kia</option>
              <option value="3">Mazda</option>
              <option value="3">Mercedes</option>
              <option value="3">Mitsubishi</option>
              <option value="3">Nissan</option>
              <option value="3">Opel</option>
              <option value="3">Peugeot</option>
              <option value="3">Renault</option>
              <option value="3">Seat</option>
              <option value="3">Skoda</option>
              <option value="3">Subaru</option>
              <option value="3">Suzuki</option>
              <option value="3">Toyota</option>
              <option value="3">Volkswagen</option>
              <option value="3">Volvo</option>
              <option value="3">...</option>
              <option value="3">and so on</option>
            </select>
          </div>

          <select class="form-control">
            <option>Any model</option>
          </select>
          <hr>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text mr-n2" id="basic-addon1">Price from $</span>
            </div>
            <input type="text" class="form-control" placeholder="10 000" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text mr-n2" id="basic-addon1">Price to $</span>
            </div>
            <input type="text" class="form-control" placeholder="50 000" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Year from</span>
            </div>
            <input type="text" class="form-control" placeholder="2001" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">ODO max (km)</span>
            </div>
            <input type="text" class="form-control" placeholder="250 000" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Category</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option>Any</option>
              <option>Sedan</option>
              <option>Hatchback</option>
              <option>MUV/SUV</option>
              <option>Coupe</option>
              <option>Convertible</option>
              <option>Wagon</option>
              <option>Van</option>
              <option>Sport</option>
            </select>
          </div>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Fuel</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Gas</option>
              <option value="1">Diesel</option>
              <option value="1">Electric</option>
              <option value="1">Any</option>
            </select>
          </div>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Transmission</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option value="1">Automatic</option>
              <option value="1">Manual</option>
              <option value="1">Any</option>
            </select>
          </div>

      </div>
      <!-- *** end of sidebar *** -->

    <!-- actual content -->
      <div class="col-md-9">

        <a href="add_edit_item.html" class="m-4"> +List a new vehicle</a>

        <div class="card border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-xs-3">
              <img class="card-img-top shadow" src="images/cars/car_0/s-l800.jpg" alt="Card image cap">
              </div>
              <div class="col-xl-5 col-lg-5 col-xs-5">
                <h5 class="card-title">2017 Skoda Superb</h5>
                Price: <strong>47 889</strong> AUD<br>
                Year: <strong>2017</strong><br>
                ODO: <strong>7500</strong> km<br>
                User: Abdul_xx
              </div>

              <div class="col-xl-3 col-lg-3 col-xs-3 my-auto" align="center">
                <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
              </div>

            </div>
          </div>
        </div>

        <div class="card border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-xs-3">
              <img class="card-img-top shadow" src="images/cars/car_1/s-l800.jpg" alt="Card image cap">
              </div>
              <div class="col-xl-5 col-lg-5 col-xs-5">
                <h5 class="card-title">2014 Volkswagen Transporter</h5>
                Price: <strong>18 889</strong> AUD<br>
                Year: <strong>2014</strong><br>
                ODO: <strong>156 000</strong> km<br>
                User: spidfe_118
              </div>

              <div class="col-xl-3 col-lg-3 col-xs-3 my-auto" align="center">
                <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
              </div>

            </div>
          </div>
        </div>

        <div class="card border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-xs-3">
              <img class="card-img-top shadow" src="images/cars/car_2/s-l800.jpg" alt="Card image cap">
              </div>
              <div class="col-xl-5 col-lg-5 col-xs-5">
                <h5 class="card-title">2011 Holden Commodore</h5>
                Price: <strong>6990</strong> AUD<br>
                Year: <strong>2011</strong><br>
                ODO: <strong>212 000</strong> km<br>
                User: superman_32
              </div>

              <div class="col-xl-3 col-lg-3 col-xs-3 my-auto" align="center">
                <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
              </div>

            </div>
          </div>
        </div>

        <div class="card border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-xs-3">
              <img class="card-img-top shadow" src="images/cars/car_4/s-l800.jpg" alt="Card image cap">
              </div>
              <div class="col-xl-5 col-lg-5 col-xs-5">
                <h5 class="card-title">2011 BMW X1</h5>
                Price: <strong>19 200</strong> AUD<br>
                Year: <strong>2011</strong><br>
                ODO: <strong>104 993</strong> km<br>
                User: boban_bob
              </div>

              <div class="col-xl-3 col-lg-3 col-xs-3 my-auto" align="center">
                <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
              </div>

            </div>
          </div>
        </div>

        <div class="card border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-xs-3">
              <img class="card-img-top shadow" src="images/cars/car_3/s-l800.jpg" alt="Card image cap">
              </div>
              <div class="col-xl-5 col-lg-5 col-xs-5">
                <h5 class="card-title">2014 Holden Commodore</h5>
                Price: <strong>13 989</strong> AUD<br>
                Year: <strong>2014</strong><br>
                ODO: <strong>126 400</strong> km<br>
                User: spidfe_118
              </div>

              <div class="col-xl-3 col-lg-3 col-xs-3 my-auto" align="center">
                <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
              </div>

            </div>
          </div>
        </div>

        <div class="card border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-xs-3">
              <img class="card-img-top shadow" src="images/cars/car_5/s-l800.jpg" alt="Card image cap">
              </div>
              <div class="col-xl-5 col-lg-5 col-xs-5">
                <h5 class="card-title">2017 Audi A4</h5>
                Price: <strong>44 324</strong> AUD<br>
                Year: <strong>2017</strong><br>
                ODO: <strong>104 000</strong> km<br>
                User: bombbb_3
              </div>

              <div class="col-xl-3 col-lg-3 col-xs-3 my-auto" align="center">
                <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
              </div>

            </div>
          </div>
        </div>

        <div class="card border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-xs-3">
              <img class="card-img-top shadow" src="images/cars/car_6/s-l800.jpg" alt="Card image cap">
              </div>
              <div class="col-xl-5 col-lg-5 col-xs-5">
                <h5 class="card-title">2014 Jeep Wrangler</h5>
                Price: <strong>25 999</strong> AUD<br>
                Year: <strong>2014</strong><br>
                ODO: <strong>66 000</strong> km<br>
                User: spicegirl
              </div>

              <div class="col-xl-3 col-lg-3 col-xs-3 my-auto" align="center">
                <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
              </div>

            </div>
          </div>
        </div>

        <div class="card border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-xs-3">
              <img class="card-img-top shadow" src="images/cars/car_7/s-l800.jpg" alt="Card image cap">
              </div>
              <div class="col-xl-5 col-lg-5 col-xs-5">
                <h5 class="card-title">2018 Skoda Octavia</h5>
                Price: <strong>38 909</strong> AUD<br>
                Year: <strong>2018</strong><br>
                ODO: <strong>7893</strong> km<br>
                User: QLD_boy
              </div>

              <div class="col-xl-3 col-lg-3 col-xs-3 my-auto" align="center">
                <button onclick="location.href='item_details.html';" type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">See more</button>
              </div>

            </div>
          </div>
        </div>

        <div class="row px-4">
          <button type="button" class="mt-auto btn btn-outline-dark btn-block btn-sm">Load more vehicles</button>
        </div>


      </div>

    </div>

    <!-- footer -->
      <footer class="footer">
        
        <hr class="mb-3 mt-4">

        <p class="text-center">© 2020 VehiclePolis.com</p>

      </footer>

    <!-- end of container -->
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>