{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col">
    <h3 class="mb-2">Items to order:</h3>
  </div>
</div>

<!-- details about item -->
<div class="row border-top border-bottom mx-2">
  <div class="card border-0">
    <div class="card-body">
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-xs-2 mp-2">
        <img class="shadow img-fluid" src="{{ url_for('static', filename='images/' + post.image_file) }}" alt="Card image cap">
        </div>
        <div class="col-xl-5 col-lg-5 col-xs-5">
          <h6 class="card-title">{{ post.title }}</h6>
          Seller: <strong>{{ post.author.username }}</strong><br>Quantity available: <strong>{{ post.quantity }}</strong>
        </div>

        <div class="col-xl-2 col-lg-2 col-xs-2 my-auto" align="center">
          <select class="form-control form-control-sm">
            <option>Quantity</option>
            <option>1</option>
          </select>
          <!-- <span class="align-bottom">Quantity</span> -->
        </div>

        <div class="col-xl-3 col-lg-3 col-xs-3 my-auto" align="center">
          <h5>Price: ${{ post.price }}</h5>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- order details -->
<div class="row mt-3 mb-1 mx-1">
  <div class="col">
    <h6 class="mb-2">Order details:</h6>
  </div>
</div>

      <div class="row mx-3">

  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">First name <font color="red">*</font></span>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Last name <font color="red">*</font></span>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Company name</span>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Street address<font color="red">*</font></span>
    </div>
    <input type="text" class="form-control" placeholder="Line 1" aria-label="Username" aria-describedby="basic-addon1">
  </div>       
  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Street address</span>
    </div>
    <input type="text" class="form-control" placeholder="Line 2" aria-label="Username" aria-describedby="basic-addon1">
  </div>  
  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Suburb<font color="red">*</font></span>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
  </div>    
  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">City<font color="red">*</font></span>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
  </div>   
  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">State<font color="red">*</font></span>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
  </div>   
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Country<font color="red">*</font></label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>Australia</option>
    </select>
  </div>
  <h6 class="mb-2">Contact details</h6>
  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Phone number<font color="red">*</font></span>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
  </div>  
  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Email<font color="red">*</font></span>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
  </div>  

  <div class="d-flex flex-column bd-highlight mb-3">
    <div class="mt-2 bd-highlight">
      <p>All items on this server have to be collected and paid in person. After submitting this order, you (as a buyer) are legally binded to pick up and pay the item within 10 days from the moment of purchase.</p>
    </div>
    <div class="bd-highlight">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1"><font color="red">*</font>Agree with <a href="#">terms & conditions</a></label>
      </div>
    </div>
    <div class="bd-highlight m">
      <sub><font color="red">*</font>Mandatory fields</sub>
    </div>
  </div>
</div>
<button type="button" class="btn btn-outline-dark btn-block btn-sm">Submit order</button>
{% endblock content %}