{% extends "base.html" %}
{% block content %}
<form method="POST" action="">
  {{form.hidden_tag()}}
  <div class="row">
    <div class="col">
      <h3 class="mb-2">Order details:</h3>
    </div>
  </div>

  <!-- details about item -->
  <div class="row border-top border-bottom mx-2">
    <div class="card border-0">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-xs-2 mp-2">
          <img class="shadow img-fluid" src="{{ url_for('static', filename='images/' + post.image_file) }}" alt="Card image cap">
          </div>
          <div class="col-xl-5 col-lg-5 col-xs-5">
            <h6 class="card-title">{{ post.title }}</h6>
            Seller: <strong>{{ post.author.username }}</strong><br>Quantity available: <strong>{{ post.quantity }}</strong>
          </div>

          <div class="col-xl-2 col-lg-2 col-xs-2 my-auto" align="center">
            <!-- quantity -->
            <div class="form-group">
              {{ form.quantity.label }}<font color="red">*</font><br>
              {% if form.quantity.errors %}
                  {{ form.quantity(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.quantity.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.quantity(class="form-control") }}
              {% endif %}
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-xs-3 my-auto" align="center">
            <h5>Unit price: ${{ post.price }}</h5>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- order details -->
  <div class="row mt-3 mb-1 mx-1">
    <div class="col">
      <h4 class="mb-2">Delivery details:</h4>
    </div>
  </div>

  <div class="row mx-3">
    <fieldset class="form-group">
      <!-- first_name -->
      <div class="form-group">
        {{ form.first_name.label }}<font color="red">*</font><br>
        {% if form.first_name.errors %}
            {{ form.first_name(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.first_name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.first_name(class="form-control") }}
        {% endif %}
      </div>

      <!-- last_name -->
      <div class="form-group">
        {{ form.last_name.label }}<font color="red">*</font><br>
        {% if form.last_name.errors %}
            {{ form.last_name(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.last_name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.last_name(class="form-control") }}
        {% endif %}
      </div>

      <!-- company_name -->
      <div class="form-group">
        {{ form.company_name.label }}<br>
        {% if form.company_name.errors %}
            {{ form.company_name(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.company_name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.company_name(class="form-control") }}
        {% endif %}
      </div>

      <!-- address1 -->
      <div class="form-group">
        {{ form.address1.label }}<font color="red">*</font><br>
        {% if form.address1.errors %}
            {{ form.address1(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.address1.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.address1(class="form-control") }}
        {% endif %}
      </div>  

      <!-- address2 -->
      <div class="form-group">
        {{ form.address2.label }}
        {% if form.address2.errors %}
            {{ form.address2(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.address2.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.address2(class="form-control") }}
        {% endif %}
      </div>   

      <!-- suburb -->
      <div class="form-group">
        {{ form.suburb.label }}<font color="red">*</font><br>
        {% if form.suburb.errors %}
            {{ form.suburb(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.suburb.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.suburb(class="form-control") }}
        {% endif %}
      </div>  

      <!-- city -->
      <div class="form-group">
        {{ form.city.label }}<font color="red">*</font><br>
        {% if form.city.errors %}
            {{ form.city(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.city.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.city(class="form-control") }}
        {% endif %}
      </div>  

      <!-- state -->
      <div class="form-group">
        {{ form.state.label }}<font color="red">*</font><br>
        {% if form.state.errors %}
            {{ form.state(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.state.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.state(class="form-control") }}
        {% endif %}
      </div>  

      <!-- country -->
      <div class="form-group">
        {{ form.country.label(class="form-control-label") }}<font color="red">*</font>
        <br>
        {{ form.country }}
      </div>

      <h4 class="mb-2">Contact details</h4>

      <div class="form-group">
        {{ form.phone.label }}<font color="red">*</font><br>
        {% if form.phone.errors %}
            {{ form.phone(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.phone.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.phone(class="form-control") }}
        {% endif %}
      </div>   

      <div class="form-group">
        {{ form.email.label }}<font color="red">*</font><br>
        {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.email(class="form-control") }}
        {% endif %}
      </div>  

      <div class="d-flex flex-column bd-highlight mb-3">
        <div class="mt-2 bd-highlight">
          <p>All items on this server will be delivered by delivery company and paid in person. After submitting this order, you (as a buyer) are legally binded to pay for the purchase once it is received.</p>
        </div>
    </fieldset>
      <div class=" mt-n5">
        <sub><font color="red">*</font>Mandatory fields</sub>
      </div>
    </div>
  </div>
  {{ form.submit(class="btn btn-outline-dark btn-block btn-sm") }}
</form>
{% endblock content %}