{% extends "base.html" %}
{% block content %}

<form method="POST" action="">
    {{form.hidden_tag()}}

    <div class="form-group">
        {{form.username.label}}
        {{form.username}}
    </div>
    <div class="form-group">
        {{form.email.label}}
        {{form.email}}
    </div>
    <div class="form-group">
        {{form.password.label}}
        {{form.password}}
    </div>
    <div class="form-group">
        {{ form.confirm_password.label }}
        {{ form.confirm_password }}
    </div>
    <div class="form-group">
        {{ form.role.label }}
        {{ form.role }}
    </div>
    {{ form.submit(class="btn btn-outline-dark btn-block btn-sm") }}

</form>



{% endblock content %}